<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display&family=Oswald&family=Teko&display=swap"
        rel="stylesheet">
    <title>Suggestions | .com</title>
    <link rel="stylesheet" href="../static/css/suggestion.css">
</head>
<body>
    <nav id="navigation_bar">
        <ul id="navigation_list">
            <li class="navigation_list_item"><a class="navigation_element" href="{% url 'home' %}" id="Home">Home</a></li>
            <li class="navigation_list_item"><a class="navigation_element" href="" id="About Us">About Us</a></li>
            <li class="navigation_list_item"><a class="navigation_element" href="{% url 'portal' %}" id="Portal">Portal</a></li>
            <li class="navigation_list_item"><a class="navigation_element" href="" id="Contact Us">Contact Us</a></li>
        </ul>
    </nav>

    <div id="suggestions_title">Suggestions</div>

    <form action="{% url 'suggestion' %}" method="post" id="suggestion_form">
        {% csrf_token %}

        <section class="form_section">
            <label for="name" class="form_element label_element">Name:</label>
            <input type="text" class="form_element input_element" id="name" name="name">

            <label for="email" class="form_element label_element">Email:</label>
            <input type="email" class="form_element input_element" id="email" name="email">

            <label for="phone_number" class="form_element label_element">Phone Number:</label>
            <input type="number" class="form_element input_element" id="phone_number" name="phone_number">

            <input type="button" value="Next" id="next_button" onclick="next()" class="next_button">
        </section>

        <section class="form_section temporaryly_disabled" id="suggestion_section">

            <label for="suggestion" class="form_element label_element full_label">Suggestions:</label>
            <textarea name="suggestion" id="suggestion" class="full_label form_element full" cols="30" rows="10"></textarea>

            <input type="button" value="Submit" class="next_button" onclick="proceed()">

        </section>

    </form>

</body>

<script src="../static/js/suggestion.js"></script>

</html>